<?xml version="1.0" encoding="UTF-8"?>


<suite name="AutomationSuite">

  <test name="PracticeTests">

    <classes>
      <class name="Practice.AuthPopUp"/>
      <class name="Practice.ConditionalMethodPractice"/>
      <class name="Practice.AlertPractice"/>
      <class name="Practice.PracticeUtility"/>
      <class name="Practice.DropDownPractice"/>
      <class name="Practice.BrokenImages"/>
      <class name="Practice.BrokeLinks"/>
      <class name="Practice.SVG"/>
      <class name="Practice.BadSSLPractice"/>
      <class name="Practice.NavigationMethodPractice"/>
      <class name="Practice.CompleteLoginPage"/>
      <class name="Practice.ScrollPractice"/>
      <class name="Practice.WebDriverMethodPractice"/>
    </classes>

  </test>

</suite>